html, body{
    padding: 0;
    margin: 0;
}
.reset
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    display: block;
    background: transparent;
    vertical-align: baseline;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: arial, sans serif;
    color: black;
    line-height: normal;
    overflow: hidden;
    /*behavior: url(PIE.htc);*/
}
ul {
    list-style: none;
    list-style-image: none;
}
img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
}

.square {
	width: 100px;
	height: 100px;
	margin: 0 75px;
}

.fright {
	float: right;
}
.fleft {
	float: left;
}

.color1 {
	background: #bf0000;
	color: #bf0000;
}